@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383848;
    z-index: 999;
}

.spin {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #fff;
    border-top-color: transparent;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}

main {
    background: url(./Backgorunds/home_bg.webp);
    height: 100vh;
    background-position: center;
    background-size: cover;
    position: relative;

}

main::before {
    content: "";
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.514);
}

main * {
    z-index: 2;
}


main nav {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 50%;
    padding: 10px 40px;
}

nav img {
    width: 7%;
    display: flex;
    justify-content: start;
    align-items: start;
}

nav ul {
    display: flex;
    align-items: start;
    margin-top: 3%;
    gap: 60px;

}

nav ul li {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
    letter-spacing: 0.5;
}

nav ul li a:hover {
    color: rgb(219, 55, 55);
    transition: 0.2s ease-in;
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.typewriter-text {
    display: inline-block;
}

.text {
    color: white;
    text-transform: capitalize;
}

header h1 span {
    color: #e4b95b;
}

header p {
    color: #ffffffd0;
    margin-top: 20px;
    text-transform: capitalize;
    letter-spacing: 0.5;
}

header a {
    border: 2px #ffffffc2 solid;
    color: #ffffffe0;
    text-decoration: none;
    border-radius: 15px;
    padding: 15px 20px;
    cursor: pointer;
    margin-top: 45px;
}

header a:hover {
    background-color: #e4b95bd5;
    border: none;
}


.content-parent {
    display: flex;
}

.history img {
    width: 50%;
}

.history .titles {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 3%;
    margin-bottom: 3%;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.781);
}

.titles h1 {
    margin-top: 10px;
}

.paragraph-titles {
    margin-top: 1%;
}


.history .content {
    display: flex;
    flex-direction: column;
    margin: 3% 2% 0 3%;
    line-height: 25px;
}

.history a {
    margin-top: 10%;
    border: 2px solid #383848;
    border-radius: 15px;
    background-color: #383848;
    width: 160px;
    padding: 10px 15px;
    color: white;
    text-decoration: none;
    text-align: center;
}

.offers {
    background: url(./Backgorunds/offer-background.webp) no-repeat center / cover;
    height: 100vh;
    margin-top: 6%;
}

.wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 3%;
}

.offers .head {
    padding-top: 5%;
}

.offers .head>h1 {
    color: #e4b95b;
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 1.3px;
    display: flex;
    flex-direction: column;
}

.offers .head .heading {
    color: rgba(255, 255, 255, 0.801);
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 0.5px;
    text-align: center;
    margin-top: 1%;
    display: flex;
    flex-direction: column;
}

.offers .container {
    margin-top: 20px;
    display: flex;
    transition: transform 0.7s ease-in-out;

}

.offers .card {
    min-width: 100%;
    box-shadow: 2px 0 10px rgba(39, 35, 35, 0);
    padding: 10px;
    cursor: pointer;
}

#prev,
#next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#prev {
    left: 97%;
}

#next {
    left: 20px;
}

.offers .card img {
    width: 200px;
    border-radius: 15px;
    margin-left: 42%;

}

.offers .card img:hover {
    transition: 0.4s ease-in;
    transform: scale(1.1);
}

.offers .content-1 {
    text-align: center;
}

.offers .card h3 {
    color: rgba(255, 255, 255, 0.842);
    text-transform: capitalize;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 30px;
    padding-bottom: 10px;

}

.all-menu {
    background-color: #eee;
}

.menu-content {
    text-align: center;
    text-transform: capitalize;
    padding-top: 50px;
    line-height: 25px;
    font-size: 25px;
    padding-bottom: 10px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.767);
}

.menu-content p {
    margin-top: 10px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.678);
    margin-bottom: 5%;
}


.container .card .content-1 {
    color: rgba(255, 255, 255, 0.842);

}

.container-menu {
    display: flex;
    justify-content: space-around;
}

.container .card .price {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-weight: 500;
}

.container .card .price span {
    color: #e4b95b;
    padding-left: 10px;
}


.container-menu {
    display: flex;
    flex-direction: row;
    background-color: #eee;
    ;
}

.title-menu {
    margin-top: 2%;
    padding: 1%;
    letter-spacing: 0.5px;
    text-align: center;
    text-transform: capitalize;
    color: #18181fe7;
}


.left .menu-card {
    display: flex;
    margin-bottom: 6%;
}


.left .menu-card .name-price {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 1%;
}

.left .menu-card .name-price h4 {
    margin-bottom: 3%;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.356);
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.808);
}

.left .menu-card .name-price h4 span {
    color: #e4b95b;
    font-weight: bold;
    display: flex;
    justify-content: end;
}

.left .menu-card .name-price p {
    padding-bottom: 6px;
}

.right {
    margin-left: 5%;
}

.right .menu-card {
    display: flex;
    margin-bottom: 6%;
}

.right .menu-card img {
    width: 100px;
    border-radius: 50%;
}

.right .menu-card .name-price {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 1%;
}

.right .menu-card .name-price h4 {
    margin-bottom: 3%;
    padding-bottom: 10px;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.356);
    text-transform: uppercase;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.808);
}

.right .menu-card .name-price h4 span {
    display: flex;
    justify-content: end;
    color: #e4b95b;
    font-weight: bold;
}

.right .menu-card .name-price p {
    padding-bottom: 6px;
}

.btn-menu {
    display: flex;
    justify-content: center;
    margin-top: 3%;
    margin-bottom: 5%;
}

.btn-menu a {
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    color: white;
    border: 2px solid #e4b95b;
    border-radius: 15px;
    width: 15%;
    background-color: #e4b95b;
    border: none;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}


.services {
    background: url(./Backgorunds/daytime_bg.webp) center center /cover;
    height: 35vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
}


.services .card {
    color: white;
    font-weight: bold;
    letter-spacing: 0.5px;
    margin-top: 20px;
    text-align: center;
}

.services .card h3 {
    padding-top: 10px;
    text-transform: capitalize;
    font-size: 30px;
}

.services .card p {
    font-weight: 500;
    padding-top: 10px;
}

.gallery {
    background: url(./Backgorunds/offer-background.webp) center center / cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.gallery h2 {
    color: white;
    text-transform: capitalize;
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    margin-bottom: 40px;
}

.images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.images img {
    width: 340px;
    height: 200px;
    border-radius: 20px;
    cursor: pointer;
    opacity: 0.8;
    object-fit: cover;
}

.gallery .images img:hover {
    transition: 0.2s ease-in-out;
    transform: scale(1.2);
    opacity: 1;
}

.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.popup-items {
    width: 70%;
    height: 70%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-items #next-popup-box,
#prev-popup-box {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#next-popup-box {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 95%;
    color: #fff;
    cursor: pointer;
}

#prev-popup-box {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 20px;
    color: #fff;
    cursor: pointer;
}

#close-popup-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 95%;
    color: #fff;
    cursor: pointer;
}

.contact-information {
    margin-top: 10%;
    margin-left: 10%;
}

.restaurant-information .address h2 {
    color: rgba(0, 0, 0, 0.925);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-bottom: 30px;
}

.restaurant-information .address p {
    color: rgba(0, 0, 0, 0.568);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
}

.restaurant-information .address p i {
    color: #e4b95b;
}

.restaurant-information .working-hours {
    margin-top: 3%;
    margin-bottom: 20px;
}

.restaurant-information .working-hours h2 {
    color: rgba(0, 0, 0, 0.925);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-bottom: 20px;
}


.restaurant-information .working-hours p {
    color: rgba(0, 0, 0, 0.568);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
}

.restaurant-information .links {
    margin-top: 3%;
    margin-bottom: 30px;
}

.restaurant-information .links h2 {
    color: rgba(0, 0, 0, 0.925);
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-bottom: 10px;

}

.restaurant-information .links .icons {
    display: flex;
    font-size: 40px;
    margin-right: 10%;
}

.contact-information {
    display: flex;
    gap: 20%;
    overflow: hidden;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.contact-form form input {
    padding: 20px 10px;
    width: 400px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.74);
    background-color: rgb(222, 223, 224);
    border: none;
    outline: none;
    margin-bottom: 5px;
    margin-top: 10px;
}


.contact-form form input::placeholder {
    color: gray;
    text-transform: capitalize;
}

.contact-form form textarea {
    padding: 20px 10px;
    width: 400px;
    height: 140px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.74);
    background-color: rgb(222, 223, 224);
    border: none;
    outline: none;
    margin-bottom: 5px;
    margin-top: 20px;
}

.contact-form form textarea::placeholder {
    color: gray;
    text-transform: capitalize;
}

.contact-form form button {
    padding: 10px 15px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    background-color: #e4b95b;
    border-radius: 10px;
    margin: 20px 0 20px 0;
    border: none;
    outline: none;
    cursor: pointer;
}

#message-error,
#name-error,
#email-error,
#subject-error {
    color: red;
    font-size: 17px;
}


footer {
    background-color: #383848;
    padding: 20px;
    text-align: center;
    color: white;
}

footer p :nth-child(1) {
    text-transform: capitalize;
}

footer p :nth-child(2) {
    text-transform: uppercase;
    font-weight: bold;
}



/* @media (max-width:800px) {
    main::before {
        height: 100h;
    }

    main nav ul {
        box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.089);
        background-color: rgba(255, 255, 255, 0.089);
        width: 100%;
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    main nav ul li a {
        font-size: 11px;
    }

    nav img {
        display: none;
    }

    header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30%;
    }

    header h1 {
        font-size: 18px;
    }

    header p {
        font-size: 11px;
    }

    header a {
        padding: 10px 10px;
        margin-top: 10px;
        border-radius: 10px;
        background-color: #e4b95b;
    }

    .history .content p {
        font-size: 10px;
    }

    .history .titles h1 {
        font-size: 28px;
    }

    .history .content-parent img {
        display: none;
    }

    .history .content a {
        padding: 5px;
    }


    .offers .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .offers .container .card img {
        width: 115px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .offers .container .card .content-1 {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .offers .container .card .content-1 p {
        display: none;
    }

    .container-menu .right {
        display: none;
    }

    .container-menu .left .menu-card img {
        margin-left: 10px;
    }

    .container-menu .left .menu-card .name-price h4 {
        font-size: 15px;
    }

    .container-menu .left .menu-card .name-price h4 span {
        font-size: 12px;
        margin-right: 20px;
    }

    .container-menu .left .menu-card .name-price p {
        font-size: 12px;
    }

    .container-menu .left .menu-card img {
        width: 15%;
        object-fit: cover;
    }

    .btn-menu a {
        font-size: 10px;
        padding: 5px 5px;
        width: 50%;
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 200vh;
        gap: 20px;
    }

    .services .card {
        margin-bottom: 20px;
    }

    .gallery {
        display: flex;
        flex-direction: column;
        padding-bottom: 40px;
        height: 170vh;
    }

    .gallery img {
        width: 200px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .contact-information {
        display: flex;
        flex-direction: column;
    }

    .contact-information .restaurant-information P {
        font-size: 10PX;
    }

    .contact-information .contact-form form input {
        width: 80%;
    }

    .contact-form form textarea {
        width: 80%;
    }

    .contact-information .contact-form form a {
        width: 80%;
    }

} */


/* 
@media (min-width:768px) {
    .gallery {
        display: flex;
        flex-direction: column;
    }
}


@media (max-width:530px) {
    main nav ul {
        box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.089);
        background-color: rgba(255, 255, 255, 0.089);
        padding: 10px;
        gap: 30px;
    }

    main nav ul li a {
        font-size: 11px;
    }

    main nav ul li a {
        font-size: 9px;
    }

    .offers .container .card img {

        margin-left: 10px;
    }

    .services {
        height: 170vh;
    }

    .gallery {
        height: 250vh;
    }

    .offers .container .card img {
        margin-left: 5%;
    }


}

@media (max-width:500px) {
    main nav ul {
        box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.089);
        background-color: rgba(255, 255, 255, 0.089);
        padding: 10px;
        gap: 30px;
    }

    main nav ul li a {
        font-size: 10px;
    }


    header {
        margin-top: 60%;
    }

    .offers .container .card img {
        margin-left: 10px;
    }

    .offers .container .card img {
        margin-left: 5%;
    }

    .services {
        height: 140vh;
        display: flex;
        gap: 50px;
    }

    .gallery {
        height: 240vh;
        display: flex;
        gap: 50px;
    }

    .gallery img {
        width: 250px;
    }


}


@media (max-width:400px) {
    .offers .container .card img {
        margin-left: 0;
    }

} */